@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap');

/* font-family: 'Karla', sans-serif; */
:root {
    --primary: #D32626;
    --secondary: #79D70F;
    --tertiary: #F5A31A;
    --white: #EDF4F2;
}

#navbarhss {
    background-color: var(--primary);
}


.brandlogo {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.navlistele {
    font-size: 20px;

    font-family: 'Karla', sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-right: 10px;
}

.navlistele:hover {
    text-decoration: underline;
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-right: 10px;
}

.navlistele a {
    text-decoration: none;
}

.mobilenavlistele {
    font-size: 1px;

    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-right: 10px;
}

.mobilenavlistele:hover {
    text-decoration: underline;
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-right: 10px;
}

.cmslable {
    position: absolute;
    top: 5px;
    left: 210px;
    background-color: white;
    color: #D32626;
    font-weight: bold;
    font-size: 10px;
    width: 65px;
    border-radius: 7px;
}

@media only screen and (max-width: 767px) {
    .cmslable {
        position: absolute;
        top: 95px;
        left: 120px;
        background-color: white;
        color: #D32626;
        font-weight: bold;
        font-size: 10px;

        /* padding: 1px; */

        border-radius: 7px;
    }

}